version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mern-backend
    restart: always
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: development
      # Puedes sobreescribir aquí si quieres:
      # MONGODB_URI: mongodb+srv://...
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: mern-frontend
    restart: always
    environment:
      # Esto lo usará Vite en vite.config.js
      API_TARGET: http://backend:5000
    depends_on:
      - backend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
